{{executionInfo}}
<div class="pie-charts">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class='card-container'>
            <div class='panel animated zoomIn'>
                <div class='panel-body'>
                    <div class='pie-chart-item'>
                        <div class='card-description'>
                            Total Tests: {{exeInfo.toatlTests}}
                        </div>
                        <div class='card-description'>
                            Total Features: {{exeInfo.totalFeature}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class='card-container'>
            <div class='panel animated zoomIn'>
                <div class='panel-body'>
                    <div class='pie-chart-item'>
                        <div class="chart" rel="#6EBA8C" data-percent="{{exeInfo.passedTest.percent}}">
                            <span class="percent"></span>
                            <canvas height="84" width="84"></canvas>
                        </div>
                        <div class="card-description">
                            <div class="ng-binding"></div>Test Passed</div>
                        <div class="card-description">{{exeInfo.passedTest.count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class='card-container'>
            <div class='panel animated zoomIn'>
                <div class='panel-body'>
                    <div class='pie-chart-item'>
                        <div class="chart" rel="#005562" data-percent="{{exeInfo.failedTest.percent}}">
                            <span class="percent"></span>
                            <canvas height="84" width="84"></canvas>
                        </div>
                        <div class="card-description">
                            <div class="ng-binding"></div>Test Failed</div>
                        <div class="card-description">{{exeInfo.failedTest.count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class='card-container'>
            <div class='panel animated zoomIn'>
                <div class='panel-body'>
                    <div class='pie-chart-item'>
                        <div class="chart" rel="#0E8174" data-percent="{{exeInfo.skippedTest.percent}}">
                            <span class="percent"></span>
                            <canvas height="84" width="84"></canvas>
                        </div>
                        <div class="card-description">
                            <div class="ng-binding"></div>Test Skipped</div>
                        <div class="card-description">{{exeInfo.skippedTest.count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>